.keys {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.key {
  border: 2px solid black;
  width: 3em;
  height: 3em;
  padding: 1em;
  margin-right: 1em;
  text-align: center;
  transition: all .07s ease;
}

p, span {
  font-family: 'Rajdhani', sans-serif;
}

p {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 5px;
}

.playing {
  transform: scale(1.1);
  border-color: #39103B;
  box-shadow: 0 0 1rem #39103B;
}
