body {
  display: flex;
}

section {
  align-items: center;
  flex: 1;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  list-style: none;
  padding: 0 2em 2em 2em;
}

h3, h4, p, img {
  text-align: center;
}

img {
  width: 15em;
  height: 15em;
  border-radius: 100%;
}
