body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

body section {
  flex-grow: 1;
}

h3 {
  text-align: center;
}

img {
  width: 15em;
  height: 15em;
  border-radius: 100%;
}
