body {
  background-color: #f7c50b;
  font-family: 'Quattrocento Sans', sans-serif;
}

.section {
  max-width: 40em;
  background-color: #FFF;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: #56218A;
  padding-top: 1em;
}

p {
  font-size: 1.5em;
  padding: 0 1.5em 1em;
  text-align: justify;
}

img {
  width: 12em;
  height: 10em;
  padding: .7em;
}

.align-left {
  float:left;
  margin-right:20px;
}

.align-right {
  float:right;
  margin-left:20px;
}

.slide-in {
  opacity:0;
  transition:all .5s;
}

.align-left.slide-in {
  transform:translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform:translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}
